USE [master]
GO
/****** Object:  Database [QuanLyCuaHangThuoc_V2]    Script Date: 5/23/2024 11:56:05 AM ******/
CREATE DATABASE [QuanLyCuaHangThuoc_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHangThuoc_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\QuanLyCuaHangThuoc_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHangThuoc_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER02\MSSQL\DATA\QuanLyCuaHangThuoc_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHangThuoc_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHangThuoc_V2]
GO
/****** Object:  Table [dbo].[ChiTietDonBanHang]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonBanHang](
	[IdChiTietDonBanHang] [int] IDENTITY(1,1) NOT NULL,
	[IdDonBanHang] [int] NULL,
	[IdThuoc] [int] NULL,
	[SoLuongBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChiTietDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapKho]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapKho](
	[IdChitietPhieuNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[IdPhieuNhapKho] [int] NULL,
	[IdThuoc] [int] NULL,
	[SoLuongNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChitietPhieuNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[IdCuaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonBanHang]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonBanHang](
	[IdDonBanHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayBan] [datetime] NOT NULL,
	[IdCuaHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDonBanHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[IdDonVi] [int] IDENTITY(1,1) NOT NULL,
	[TenDonVi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoanID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[IdPhieuNhapKho] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPhieuNhapKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](200) NOT NULL,
	[TenHienThi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](100) NULL,
	[IdCuaHang] [int] NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[IdThuoc] [int] IDENTITY(1,1) NOT NULL,
	[TenThuoc] [nvarchar](200) NOT NULL,
	[HanSuDung] [datetime] NULL,
	[SoLuong] [int] NULL,
	[IdDonVi] [int] NULL,
	[GiaNhap] [money] NULL,
	[GiaBan] [money] NULL,
	[Image] [nvarchar](max) NULL,
	[GhiChu] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinChi]    Script Date: 5/23/2024 11:56:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinChi](
	[IdTinChi] [int] IDENTITY(1,1) NOT NULL,
	[TenTinChi] [nvarchar](255) NOT NULL,
	[GiaTinChi] [decimal](18, 2) NULL,
	[SoTinChi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTinChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdDonBanHang])
REFERENCES [dbo].[DonBanHang] ([IdDonBanHang])
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdDonBanHang])
REFERENCES [dbo].[DonBanHang] ([IdDonBanHang])
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdDonBanHang])
REFERENCES [dbo].[DonBanHang] ([IdDonBanHang])
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonBanHang]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdPhieuNhapKho])
REFERENCES [dbo].[PhieuNhapKho] ([IdPhieuNhapKho])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdPhieuNhapKho])
REFERENCES [dbo].[PhieuNhapKho] ([IdPhieuNhapKho])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdPhieuNhapKho])
REFERENCES [dbo].[PhieuNhapKho] ([IdPhieuNhapKho])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([IdThuoc])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[DonBanHang]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[DonBanHang]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[DonBanHang]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Thuoc] ([IdThuoc])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([IdCuaHang])
REFERENCES [dbo].[CuaHang] ([IdCuaHang])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([IdDonVi])
REFERENCES [dbo].[DonVi] ([IdDonVi])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([IdDonVi])
REFERENCES [dbo].[DonVi] ([IdDonVi])
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD FOREIGN KEY([IdDonVi])
REFERENCES [dbo].[DonVi] ([IdDonVi])
GO
USE [master]
GO
